<mapper>
  <select id="page_select">
    SELECT
    * from
    mw_member
  </select>

  <delete id="page_unselect">
    delete from mw_member where id = '1'
  </delete>

  <select id="left_like">
    SELECT
    * from
    mw_member
    WHERE
    name LIKE !{name}
  </select>
  <select id="right_like">
    SELECT
    * from
    mw_member
    WHERE
    name LIKE @{name}
  </select>
  <select id="full_like">
    SELECT
    * from
    mw_member
    WHERE
    name LIKE ?{name}
  </select>
</mapper>